#pre-loader {
  height: 100vh;
  width: 100%;
  background-color: #141414;
  background-image: linear-gradient(130deg, #e63246, #731973);
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 15;
  pointer-events: none;
  -webkit-transition: 1.3s;
  transition: 1.3s;
  display: block;
}

#pre-loader.loading {
  top: 0;
  pointer-events: all;
}

#pre-loader .cont {
  width: 1400px;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pre-loader .cont .col {
  width: 50%;
}

#pre-loader .cont .col .loading-animate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#pre-loader .cont .col .loading-animate .box {
  height: 5px;
  width: 30px;
  background-color: white;
  margin-right: 10px;
  opacity: 0;
}

#pre-loader .cont .col h1,
#pre-loader .cont .col p {
  margin: 0;
  opacity: 0;
}

#pre-loader .cont .col:last-child p {
  width: 50ch;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pre-loader .cont .col:last-child p::before {
  content: "";
  height: 30px;
  width: 3px;
  background-color: white;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
}

#pre-loader .extra-loader {
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #ffbee6;
  height: 100%;
  width: 100%;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#pre-loader .extra-loader.start {
  top: 0%;
}

header {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  z-index: 10;
}

header .grid {
  width: 1400px;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .grid p {
  height: 100%;
  line-height: 50px;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .grid a {
  height: 100%;
  display: block;
  background-color: transparent;
  outline: 3px solid white;
  color: white;
  line-height: 40px;
  padding: 0 1.8em;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .grid a:hover {
  background-color: white;
  color: black;
}

.main-sect {
  height: 100vh;
  width: 100%;
  position: relative;
}

.main-sect .grid {
  width: 1400px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  margin: 0 auto;
}

.main-sect .grid .col {
  width: 100%;
}

.main-sect .grid .col:first-child {
  padding-right: 30px;
}

.main-sect .grid .col:first-child p {
  opacity: 0;
}

.main-sect .grid .col:first-child .primary-button {
  opacity: 0;
}

.main-sect .grid .col:last-child {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.main-sect .grid .col:last-child.box-cont .box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 180px;
      grid-template-rows: auto 180px;
  grid-gap: 10px;
  opacity: 0;
}

.main-sect .grid .col:last-child.box-cont .box p {
  width: 100%;
  margin-bottom: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-sect .grid .col:last-child.box-cont .box p span {
  width: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.main-sect .grid .col:last-child.box-cont .box p::after {
  content: "";
  height: 2px;
  width: 20%;
  display: block;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-sect .grid .col:last-child.box-cont .box .img_cont {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.main-sect .grid .col:last-child.box-cont .box .img_cont img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-sect .grid .col:last-child.box-cont .box .img_cont::after {
  content: "\f06e";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: -100%;
  right: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
  text-align: center;
  line-height: 40px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.main-sect .grid .col:last-child.box-cont .box:hover p::after {
  width: 100%;
  background-color: white;
}

.main-sect .grid .col:last-child.box-cont .box:hover .img_cont::after {
  bottom: 10px;
  opacity: 1;
}

.main-sect .grid .col:last-child.card-cont {
  grid-gap: 50px;
}

.main-sect .grid .col:last-child.card-cont .card {
  overflow: hidden;
  opacity: 0;
  margin-bottom: 50px;
}

.main-sect .grid .col:last-child.card-cont .card:last-child {
  margin-top: 50px;
  margin-bottom: 0px;
}

.main-sect .grid .col:last-child.card-cont .card .img-cont {
  height: 300px;
  position: relative;
}

.main-sect .grid .col:last-child.card-cont .card .img-cont img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.main-sect .grid .col:last-child.card-cont .card .img-cont .social {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  padding-right: 10px;
}

.main-sect .grid .col:last-child.card-cont .card .img-cont .social a {
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 50%;
  color: #646464;
  background-color: white;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  text-align: center;
}

.main-sect .grid .col:last-child.card-cont .card .img-cont .social a.fade-left-social {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.main-sect .grid .col:last-child.card-cont .card .img-cont .social a:last-child {
  margin-bottom: 0;
}

.main-sect .grid .col:last-child.card-cont .card .img-cont .social a:hover {
  color: #323232;
}

.main-sect .grid .col:last-child.card-cont .card .img-cont .social a i {
  line-height: 40px;
  font-size: 1.5rem;
}

.main-sect .grid .col:last-child.card-cont .card .content {
  padding: 25px 0;
  padding-right: 20px;
}

.main-sect .grid .col:last-child.card-cont .card .content h4 {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.main-sect .grid .col:last-child.card-cont .card .content p {
  width: 100%;
  margin-bottom: 30px;
}

.main-sect .scrached-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.main-sect .scrached-background .main-bg,
.main-sect .scrached-background .sub-bg {
  background: url("./img/main-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.main-sect .scrached-background .main-bg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.main-sect .scrached-background .scrach {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.main-sect .scrached-background .scrach:nth-child(2) .sub-bg {
  -webkit-transform: scale(1.2) rotateZ(1deg);
          transform: scale(1.2) rotateZ(1deg);
}

.main-sect .scrached-background .scrach:nth-child(3) .sub-bg {
  -webkit-transform: scale(1.4) rotateZ(2deg);
          transform: scale(1.4) rotateZ(2deg);
}

.main-sect .scrached-background .scrach:nth-child(4) .sub-bg {
  -webkit-transform: scale(1.6) rotateZ(3deg);
          transform: scale(1.6) rotateZ(3deg);
}

.main-sect .scrached-background .scrach .sub-bg {
  height: 100%;
  width: 100%;
}

.main-sect .scroll_indicator {
  width: 1400px;
  padding: 0 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;
}

.main-sect .scroll_indicator p {
  -webkit-animation: marque-down 1.5s infinite;
          animation: marque-down 1.5s infinite;
  margin: 0;
}

.primary-button {
  font-size: 1.1rem;
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 0.8em 1.8em;
  margin-top: 20px;
  display: inline-block;
}

.primary-button::after {
  content: "";
  height: 0.8rem;
  width: 30px;
  margin-left: 10px;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  background: url("./img/arrow-long-right.svg") no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.primary-button:hover::after {
  margin-left: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

footer p {
  width: 1400px;
  margin: 0 auto;
  padding: 30px 50px;
  text-align: center;
}

@-webkit-keyframes animate-crach_1 {
  from {
    -webkit-clip-path: circle(40% at 12% 6%);
            clip-path: circle(40% at 12% 6%);
  }
  to {
    -webkit-clip-path: circle(50% at 14% 8%);
            clip-path: circle(50% at 14% 8%);
  }
}

@keyframes animate-crach_1 {
  from {
    -webkit-clip-path: circle(40% at 12% 6%);
            clip-path: circle(40% at 12% 6%);
  }
  to {
    -webkit-clip-path: circle(50% at 14% 8%);
            clip-path: circle(50% at 14% 8%);
  }
}

@-webkit-keyframes animate-crach_2 {
  from {
    -webkit-clip-path: circle(30% at 8% 5%);
            clip-path: circle(30% at 8% 5%);
  }
  to {
    -webkit-clip-path: circle(40% at 10% 8%);
            clip-path: circle(40% at 10% 8%);
  }
}

@keyframes animate-crach_2 {
  from {
    -webkit-clip-path: circle(30% at 8% 5%);
            clip-path: circle(30% at 8% 5%);
  }
  to {
    -webkit-clip-path: circle(40% at 10% 8%);
            clip-path: circle(40% at 10% 8%);
  }
}

@-webkit-keyframes marque-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  30% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes marque-down {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  30% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  70% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes animate-crach_3 {
  from {
    -webkit-clip-path: circle(15% at 6% 4%);
            clip-path: circle(15% at 6% 4%);
  }
  to {
    -webkit-clip-path: circle(25% at 8% 8%);
            clip-path: circle(25% at 8% 8%);
  }
}

@keyframes animate-crach_3 {
  from {
    -webkit-clip-path: circle(15% at 6% 4%);
            clip-path: circle(15% at 6% 4%);
  }
  to {
    -webkit-clip-path: circle(25% at 8% 8%);
            clip-path: circle(25% at 8% 8%);
  }
}

@-webkit-keyframes animate-crach_4 {
  from {
    -webkit-clip-path: polygon(90% 0, 100% 0, 100% 100%, 60% 100%);
            clip-path: polygon(90% 0, 100% 0, 100% 100%, 60% 100%);
  }
  to {
    -webkit-clip-path: polygon(65% 0, 100% 0, 100% 100%, 40% 100%);
            clip-path: polygon(65% 0, 100% 0, 100% 100%, 40% 100%);
  }
}

@keyframes animate-crach_4 {
  from {
    -webkit-clip-path: polygon(90% 0, 100% 0, 100% 100%, 60% 100%);
            clip-path: polygon(90% 0, 100% 0, 100% 100%, 60% 100%);
  }
  to {
    -webkit-clip-path: polygon(65% 0, 100% 0, 100% 100%, 40% 100%);
            clip-path: polygon(65% 0, 100% 0, 100% 100%, 40% 100%);
  }
}

@-webkit-keyframes animate-crach_5 {
  from {
    -webkit-clip-path: polygon(95% 0, 100% 0, 100% 100%, 85% 100%);
            clip-path: polygon(95% 0, 100% 0, 100% 100%, 85% 100%);
  }
  to {
    -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 60% 100%);
            clip-path: polygon(80% 0, 100% 0, 100% 100%, 60% 100%);
  }
}

@keyframes animate-crach_5 {
  from {
    -webkit-clip-path: polygon(95% 0, 100% 0, 100% 100%, 85% 100%);
            clip-path: polygon(95% 0, 100% 0, 100% 100%, 85% 100%);
  }
  to {
    -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 60% 100%);
            clip-path: polygon(80% 0, 100% 0, 100% 100%, 60% 100%);
  }
}

@-webkit-keyframes animate-crach_6 {
  from {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 90% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 90% 100%);
  }
  to {
    -webkit-clip-path: polygon(90% 0, 100% 0, 100% 100%, 80% 100%);
            clip-path: polygon(90% 0, 100% 0, 100% 100%, 80% 100%);
  }
}

@keyframes animate-crach_6 {
  from {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 90% 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 90% 100%);
  }
  to {
    -webkit-clip-path: polygon(90% 0, 100% 0, 100% 100%, 80% 100%);
            clip-path: polygon(90% 0, 100% 0, 100% 100%, 80% 100%);
  }
}

@-webkit-keyframes fade_up {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade_up {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fade-down {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes fade-down {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
}

@-webkit-keyframes fade_left {
  from {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade_left {
  from {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fade_up_splited {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fade_up_splited {
  from {
    top: 50px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.splited_text_animate {
  -webkit-animation: fade_up 2s ease-out forwards;
          animation: fade_up 2s ease-out forwards;
}

.splited_text_animate span {
  opacity: 0;
  display: inline;
  position: relative;
}

.fade-up {
  -webkit-animation: fade_up 0.8s ease-out forwards;
          animation: fade_up 0.8s ease-out forwards;
}

.fade-down {
  -webkit-animation: fade-down 1.5s infinite forwards;
          animation: fade-down 1.5s infinite forwards;
}

.scrach-animation-1 {
  -webkit-animation: animate-crach_1 3s ease-out forwards;
          animation: animate-crach_1 3s ease-out forwards;
}

.scrach-animation-2 {
  -webkit-animation: animate-crach_2 4s ease-out forwards;
          animation: animate-crach_2 4s ease-out forwards;
}

.scrach-animation-3 {
  -webkit-animation: animate-crach_3 5s ease-out forwards;
          animation: animate-crach_3 5s ease-out forwards;
}

.scrach-animation-4 {
  -webkit-animation: animate-crach_4 3s ease-out forwards;
          animation: animate-crach_4 3s ease-out forwards;
}

.scrach-animation-5 {
  -webkit-animation: animate-crach_5 4s ease-out forwards;
          animation: animate-crach_5 4s ease-out forwards;
}

.scrach-animation-6 {
  -webkit-animation: animate-crach_6 5s ease-out forwards;
          animation: animate-crach_6 5s ease-out forwards;
}

.splited_text_animate {
  -webkit-animation: fade_up_splited 0.3s ease-out forwards;
          animation: fade_up_splited 0.3s ease-out forwards;
}
/*# sourceMappingURL=main.css.map */